$backgroundColor: white;
$fontColor: black;
$fontSize: 20px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $backgroundColor;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $fontSize;
  color: $fontColor;
  text-transform: uppercase;
}

input {
  width: 50%;
  font-size: 100%;
  font-family: inherit;
  text-transform: uppercase;
  color: $fontColor;
  background: none;
  border: 1px solid $fontColor;
  outline: none;
  padding: 5px;
}

::placeholder {
  color: $fontColor;
}

button {
  width: 50%;
  font-size: 100%;
  font-family: inherit;
  color: $fontColor;
  background: none;
  border: 1px solid $fontColor;
  outline: none;
  margin-left: -1px;
  padding: 5px;
}

button:hover {
  background: $fontColor;
  color: $backgroundColor;
}

a {
  text-decoration: none;
  color: $fontColor;
}

a:hover {
  text-decoration: underline;
}

nav {
  a {
    padding: 0 0 0 5px;
    text-decoration: none;
    color: $fontColor;
    font-size: $fontSize;
  }

  a:hover {
    text-decoration: underline;
  }
}

section {
  font-size: 0px;
}

.grid-item {
  font-size: $fontSize;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  white-space: nowrap;

  img {
    width: 100%;
  }
}

p,
ul {
  padding: 0 0 0 5px;
}

@media only screen and (max-width: 1200px) {
  .grid-item {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .grid-item {
    width: 100%;
  }
}
